@import '_styles/index.scss';
.page-voting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 24px 0 24px;
  @extend .box-wrapper;
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .box-wrapper;
    & > span {
      flex: 0 0 auto;
      @extend .heading-4;
      padding: 12px 0 12px 0;
    }
  }
  .hint{
    flex: 0 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    @extend .heading-6;
  }
  .content{
    flex: 1 1 auto;
  }
  .foot{
    flex: 0 0 auto;
    padding-top: 24px;
    width: 200px;
    align-self: center;
  }
  
}