@import '_styles/index.scss';
.footer-component{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    @extend .heading-6;
    a {
      @extend .heading-5;
    }
  }
}