@import '_styles/index.scss';
.page-login{
  @extend .centering;
  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 60px 36px 60px;
    @extend .box-wrapper;
    & > .title{
      text-align: center;
      @extend .heading-3;
    }
    .content{
      width: 300px;
      padding-bottom: 24px;
    }
    .foot{
      width: 40%;
    }
  }
}