@import '_styles/index.scss';
.page-create-election {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 0 24px 0 24px;
  height: 100%;
  box-sizing: border-box;
  @extend .box-wrapper;
  .description {
    height: 48px;
    padding-bottom: 24px;
  }
  .option-list{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    .candidate {
      width: fit-content;
    }
    .list{
      display: flex;
      flex-wrap: wrap;
      background-color: $BackgroundD;
      .input{
        flex: 0 1 25%;
        padding: 0 20px 0 20px;
        box-sizing: border-box;
      }
    }
  }
  .file-upload{

    cursor: pointer;
    .file{

    }
    .upload-area{
      border: 1px dashed $PrimaryA;
      text-align: center;
      padding: 24px;
      border-radius: 4px;
      & > span{
        @extend .heading-6;
        color: $PrimaryB;
      }
    }
  }
}