.app-layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .app-header {
    flex: 0 0 auto;
  }
  .app-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    .app-sider {
      flex: 0 0 300px;
    }
    .app-main {
      flex: 1 1 auto;
    }
  }
  .app-footer {
    flex: 0 0 auto;
  }
}