
$BackgroundA: #F4F8FB;
$BackgroundB: #E7EEF3;
$BackgroundC: #EAF3FD;
$BackgroundD: #C9D9EA;
$BackgroundE: #9EB3C9;
$BackgroundF: #697F90;
$BackgroundG: #4B6477;

$TertiaryA: #8DC033;
$TertiaryB: #73AB1A; 
$TertiaryC: #599300; 
$TertiaryD: #226F0D;

$SecondaryA: #C0338D;
$SecondaryB: #AB1A73;
$SecondaryC: #930059;
$SecondaryD: #6F0D22;

$PrimaryA: #338DC0;
$PrimaryB: #1A73AB;
$PrimaryC: #005993;
$PrimaryD: #0D226F;

$White: #FFFAFA;
$Grey: #A8B9C6;
$Black: #000000;

$PrimarySecondary: $PrimaryA;
$PrimaryPrimary: $PrimaryB;
$PrimaryFocus: $PrimaryC;

$DangerSecondary: #FFB8C2;
$DangerPrimary: #D44333;
$DangerFocus: #AB1D0E;

$SuccessSecondary: #B3FFD0;
$SuccessPrimary: #21A453;
$SuccessFocus: #036E2B;

$WarningSecondary: #FAD791;
$WarningPrimary: #ECAF35;
$WarningFocus: #DD9D1D;

$DisableSecondary: $BackgroundD;
$DisablePrimary: $BackgroundE;
$DisableFocus: $BackgroundF;



